.vscode/
compile_flags.txt
mount/
*.json
*.bak
*.log*
*.race.*
*.pdf
*.fa
*.gz
*.db
*.rpm
*.deb

# do not include binaries, but do include sources
onedriver
bolt-insert
!cmd/onedriver
!cmd/bolt-insert
