.vscode/
compile_flags.txt
.commit
.date
mount/
*.json
*.bak
*.log*
*.race.*
*.pdf
*.fa
*.gz
*.db
*.test
*.out
*.txt

# do not include binaries, but do include sources
onedriver
onedriver-headless
onedriver-*/
!cmd/onedriver
vendor/

# rpm build stuff
*.rpm

# for tests on older linuxes
util-linux*
unshare

# debian build stuff
debian/debhelper-build-stamp
debian/*.substvars
debian/*.debhelper
debian/files
build/
*.dsc
*.deb
*.tar.xz
