[Unit]
Description=onedriver
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/onedriver %I
ExecStop=/usr/bin/fusermount -uz %I
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
