[Unit]
Description=onedriver

[Service]
ExecStart=/usr/bin/onedriver %I
ExecStop=/usr/bin/fusermount -uz %I
ExecStopPost=/usr/bin/sleep 1
Restart=on-failure

[Install]
WantedBy=default.target
