[Unit]
Description=onedriver

[Service]
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/onedriver %I
ExecStop=/usr/bin/fusermount -uz %I
Restart=always

[Install]
WantedBy=default.target
