[Unit]
Description=onedriver

[Service]
ExecStart=/usr/bin/onedriver %f
ExecStopPost=/usr/bin/fusermount -uz /%I
Restart=on-abnormal
RestartSec=3
RestartForceExitStatus=2

[Install]
WantedBy=default.target
