[Unit]
Description=onedriver

[Service]
ExecStart=/usr/bin/onedriver -c "%C/onedriver/%i" %I
ExecStopPost=/usr/bin/fusermount -uz %I; exit 0
ExecStopPost=/usr/bin/sleep 3
Restart=on-failure

[Install]
WantedBy=default.target
