[Desktop Entry]
Name=Onedriver
Comment=Mount a Microsoft OneDrive account as a Linux filesystem.
Type=Application
Exec=/usr/bin/onedriver-launcher
Icon=/usr/share/icons/onedriver/onedriver.svg
Categories=Utility
