Source: onedriver
Section: utils
Priority: optional
Maintainer: Jeff Stafford <jeff.stafford@protonmail.com>
Build-Depends: golang (>= 1.12), gcc, pkg-config, libwebkit2gtk-4.0-dev, git
Standards-Version: 4.4.1
Homepage: https://github.com/jstaf/onedriver
#Vcs-Browser: https://github.com/jstaf/onedriver
#Vcs-Git: https://github.com/jstaf/onedriver.git

Package: onedriver
Architecture: any
Depends: libwebkit2gtk-4.0-37, fuse
Suggests: systemd
Description: A native Linux filesystem for Microsoft Onedrive
 Onedriver is a native Linux filesystem for Microsoft Onedrive. Files and
 metadata are downloaded on-demand with the goal of having no local state to
 break.
