#!/usr/bin/make -f
%:
	dh $@


override_dh_auto_test:
	echo "skipping tests..."


override_dh_auto_install:
	install -D -m 0755 onedriver $$(pwd)/debian/onedriver/usr/bin/onedriver
	install -D -m 0644 onedriver.png $$(pwd)/debian/onedriver/usr/share/icons/onedriver
	install -D -m 0644 onedriver@.service $$(pwd)/debian/onedriver/usr/lib/systemd/user/onedriver@.service

